.masters {
  background: linear-gradient(#2b405d, #1c232c);
}
page-login{
  ion-input{
    color: #f8f8f8;
    font-size: 12px;
  }
  .logo {
    margin: 20% auto 0;
    display: block;
  }

  .itemform {
    background-color: transparent;
  }

  .loginBtn {
    padding: 30px;
    border-radius: 100px;
  }

  .signupBtn{
    font-size: 12px;
  }

  .resetHere {
    font-style: italic;
    font-size: 11px;
  }
}
