<ion-header>

  <ion-navbar color="primary">
    <ion-title>Event Details</ion-title>
    <!--<button ion-button small item-end>Cancel</button>-->
  </ion-navbar>

</ion-header>


<ion-content class="masters">
    <ion-list class="list" no-border>
        <ion-item>
            <ion-label>Title</ion-label>
            <ion-label align="right">{{title}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Due</ion-label>
            <ion-label align="right" class="lblSmall">{{endTime}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Notes</ion-label>
            <ion-label align="right">{{notes}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <ion-label class="lblSmall">TASK</ion-label>
            <ion-label align="right" class="lblSmaller" (click)="addTaskAlert()">Add Task</ion-label>
        </ion-item>

        <ion-item *ngFor="let task of tasks">
            <ion-label>{{task.title}}</ion-label>
            <ion-label align="right" class="lblSmall">{{task.assigned.firstName}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <ion-label class="lblSmall">MEMBERS</ion-label>
            <ion-label align="right" class="lblSmaller" (click)="addMemberRadio()">Add Member</ion-label>
        </ion-item>

        <ion-item *ngIf="userId == owner">
            <ion-label>{{userFirstname}} {{userLastname}}</ion-label>
            <ion-label align="right" class="lblSmall">OWNER</ion-label>
        </ion-item>

        <ion-item  *ngFor="let member of memberList">
            <ion-label>{{member.firstName}} {{member.lastName}}</ion-label>
            <ion-label *ngIf="member.id == owner"align="right" class="lblSmall">OWNER</ion-label>
        </ion-item>
     </ion-list>

</ion-content>
<ion-footer>
    <ion-row padding class="loginBtn">
        <button ion-button default block color="brighter" (click)="launchChat()">Open Messenger</button>
    </ion-row>
</ion-footer>
