.h1-month{
  font-size: 26px;
  color: ghostwhite;
  font-weight: bolder;
}

.spacer-rainbow-divider{
  background: linear-gradient(to right,
          #f37f8c, #54d0e6, #5fc1be, #dab27c);
  margin-left: -16px;
}

.table-bordered[_ngcontent-c1] {
  border: none !important;
}

.text-muted[_ngcontent-c1] {
  background-color: #f8f8f8 !important;
  color: #999;
}

.table[_ngcontent-c1] > thead[_ngcontent-c1]:first-child > tr[_ngcontent-c1]:first-child > th[_ngcontent-c1], .table[_ngcontent-c1] > thead[_ngcontent-c1]:first-child > tr[_ngcontent-c1]:first-child > td[_ngcontent-c1] {
  background-color: #5f6f85;
  color: #f8f8f8;
}

.table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1] {
  border: 0px !important;
}

.monthview-primary-with-event[_ngcontent-c1] {
  background-color: #5fc1be !important;
  color: white;
}

.monthview-current[_ngcontent-c1] {
  background-color: #f0f0f0 !important;
}

.monthview-selected[_ngcontent-c1] {
  background-color: #2ba8e3 !important;
  color: white;
}
.table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1] {
  background-color: white;
}



