page-home {

}

.h1-month{
  font-size: 26px;
  color: ghostwhite;
  font-weight: bolder;
}

.spacer-rainbow-divider{
  background: linear-gradient(to right,
          #f37f8c, #54d0e6, #5fc1be, #dab27c);
  margin-left: -16px;
}